<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button
      type="button"
      class="navbar-toggle"
      data-toggle="collapse"
      data-target="#myNavbar"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink="/">LOGO</a>
  </div>
  <div
    class="collapse navbar-collapse"
    id="myNavbar"
    style="padding-right: 20px"
  >
    <ul class="nav navbar-nav navbar-right">
      <li *ngFor="let data of arrNav">
        <a
          routerLink="{{ data.routerLink }}"
          [ngClass]="data.isActive == 0 ? 'notActiveLink' : 'activeLink'"
          (click)="activate_link(data.Ser)"
          >{{ data.routerName }}</a
        >
      </li>
    </ul>
  </div>
</nav>
